.task-card{
  padding: 5px;
  width: var(--card-width);
  min-height: 225px;
  background-color: skyblue;
  margin: 20px;

  .button-footer{
    gap: 10px;
    margin-top: auto;
  }

  .task-header{
    justify-content: space-between;
    font-weight: 600;
  }

  .mat-mdc-card-header-text{
    width: 100%;
  }

  .edit-field{
    width: 100%;
  
    .description-text-area{
      min-height: 75px;
    }
  
  }
  
  .button-row{
    display: flex;
    gap: 10px;
  }

  .error-message{
    color: red;
  }

  .title {
    font-weight: bold;
  }
}